<header>
  <div class="header_logo">
    <h1 class="logo">Shopeame!</h1>
  </div>
  <ul>
    <li><a routerLink=""><img src="./assets/img/nuclear-20.png"><div>Home</div></a></li>
    <li><a routerLink="products"><img src="./assets/img/binoculars-20.png"><div>Products</div></a></li>
    <li><a routerLink="edit"><img src="./assets/img/timon-20.png"><div>Gestion</div></a></li>
  </ul>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <p>Siguenos en:</p>
  <ul>
    <li>Twitter</li>
    <li>Facebook</li>
    <li>Instagram</li>
    <li>TikTok</li>
  </ul>
  <p>Copyright Shopeame @ 2020</p>
</footer>